#ewvwp-grid{
	display: flex;
	flex-wrap: wrap;
}

.ewvwp-product{
    position: relative;
    perspective: 800px;
    width:306px;
    height:471px;
    transform-style: preserve-3d;
    transition: transform 5s;
	float:left; 
	margin-right: 23px;
	-webkit-transition: width 500ms ease-in-out;
	   -moz-transition: width 500ms ease-in-out;
		-ms-transition: width 500ms ease-in-out;
		 -o-transition: width 500ms ease-in-out;
 		    transition: width 500ms ease-in-out;
}
.ewvwp-product-front img{width:100%;}
.ewvwp-product-front, .ewvwp-product-back{
	width:315px;
	height:480px;
	background:#fff;
	position:absolute;
	left:-5px;
	top:-5px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.ewvwp-product-back{
	display:none;
	transform: rotateY( 180deg );
}
.ewvwp-make3D.animate .ewvwp-product-back,
.ewvwp-make3D.animate .ewvwp-product-front,
div.large .ewvwp-product-back{
	top:0px;
	left:0px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.ewvwp-make3D{
	width:305px;
	height:470px;
	position:absolute;
	top:10px;
	left:10px;	
	overflow:hidden;
    transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;
}
div.ewvwp-make3D.flip-10{
	 -webkit-transform: rotateY( -10deg );
         -moz-transform: rotateY( -10deg );
           -o-transform: rotateY( -10deg );
              transform: rotateY( -10deg );
			   transition:  50ms ease-out; 			
}
div.ewvwp-make3D.flip90{
	 -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );
			   transition:  100ms ease-in; 			
}
div.ewvwp-make3D.flip190{
	 -webkit-transform: rotateY( 190deg );
         -moz-transform: rotateY( 190deg );
           -o-transform: rotateY( 190deg );
              transform: rotateY( 190deg );
			   transition:  100ms ease-out; 			
}
div.ewvwp-make3D.flip180{
	 -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
			   transition:  150ms ease-out; 			
}
.ewvwp-make3D.animate{
	top:5px;
	left:5px;
	width:315px;
	height:480px;
	box-ewvwp-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
div.large .ewvwp-make3D{
	top:0;
	left:0;
	width:315px;
	height:480px;
	-webkit-transition:  300ms ease-out; 
       -moz-transition:  300ms ease-out; 
         -o-transition:  300ms ease-out; 
            transition:  300ms ease-out; 
}
.large div.ewvwp-make3D{box-ewvwp-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0);}
.large div.ewvwp-flip-back{display:none;}
.ewvwp-stats-container{
	background:#fff;	
	position:absolute;
	top:382px;
	left:0;
	width: 252px;
	height: 300px;
	padding: 24px 40px 35px 32px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
.ewvwp-make3D.animate .ewvwp-stats-container{
	top:265px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.ewvwp-stats-container .ewvwp_product_name{
	font-size: 15px;
    color: #393c45;
    font-weight: 700;
}
.ewvwp-stats-container p{
	font-size:15px;
	color:#b1b1b3;	
	padding:2px 0 20px 0;
}
.ewvwp-stats-container .ewvwp_product_price{
	float:right;
	color:#5ff7d2;
	font-size:22px;
	font-weight:600;
}
.ewvwp_image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	background:#5ff7d2;
	opacity:0;	
}
.ewvwp-make3D.animate .ewvwp_image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
	padding:0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}

.ewvwp_view_gallery{	
	position:absolute;
	top:144px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.ewvwp_view_gallery:hover{	
	background:#fff;
	color:#5ff7d2;
	cursor:pointer;

}
.ewvwp-make3D.animate .ewvwp_view_gallery{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}

div.ewvwp-shadow{
	width:335px;height:520px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
.ewvwp-product-back div.ewvwp-shadow{
	z-index:10;
	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}
.ewvwp-flip-back{
	position:absolute;
	top:20px;
	right:20px;
	width:30px;
	height:30px;
	cursor:pointer;
}
.ewvwp-cx, .ewvwp-cy{
	background:#d2d5dc;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.ewvwp-flip-back:hover .ewvwp-cx, .ewvwp-flip-back:hover .ewvwp-cy{
	background:#979ca7;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.ewvwp-cx.s1, .ewvwp-cy.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.ewvwp-cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.ewvwp-cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.ewvwp-cx.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.ewvwp-cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.ewvwp-cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}

div.floating-cart .ewvwp-stats-container{display:none;}
div.floating-cart .ewvwp-product-front{width:100%; top:0; left:0;}
.ewvwp-product.large{
	width:639px;
	margin-bottom:25px;
	overflow:hidden;
	-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		 -o-transition: all 500ms ease-in-out;
 		    transition: all 500ms ease-in-out;
}


.ewvwp-product.large:hover{
	box-ewvwp-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);	
}

.easy-wp-voting-form {
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
  }
  .easy-wp-voting-form .easy-wp-voting-form-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
  .easy-wp-voting-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }